body {
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: Courier New;
}
html { 
  background: url(Background.jpg) no-repeat center center fixed; 
  background-color: black;
width: auto ;
  max-width: 100% ;
  max-height: 100% ;

}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-family: Courier New;
    color:black;
}
ul {
    display: inline;
}

li {
    display: inline;
    list-style-type: none;
}


.toptitle {
   top: 0%;
   right:0%;
   font-family: Courier New;
   display: inline;
}
.headtool {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    top: 0%;
    list-style-type: none;
    padding: 5px;
    background: none;
    font-family: Courier New;
    background-color: black;
    color: lightgray;
}


.centerofPage {
    display:block;
    background-color: none;
    text-align: center;
    border: 10px outset;
    width: 600px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgba(0,0,0,.7); 
}

.Bbutton {
    background-color: rgba(0,0,150,1); 
    border: 5px outset;
    border-color: white;
    border-radius: 20px;
    padding: 7.5px 16px;
    font-size: 40px;
    cursor: pointer;
    font-family: Courier New;
    color: white;
    display: inline;
}
.Bbutton:hover{
background-color:green;
}
.smbutton {
    color: white;
    padding: 20px 16px;
    cursor: pointer;
    background: none;
    font-size: 20px;
    font-family: Courier New;
    background-color:green;
	border-radius: 30px;
	width:110px;
	text-align:center;
}
#emailMe{
color:lightblue;
}
.smbutton:hover{
background-color:rgba(150,0,0,1);
}
.facepic {
            
    background-image:url('Face.jpg');
    background-size:cover;
    border: 5px inset;
    width: 325px;
    height: 325px;
  border-radius: 325px;
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman';
    margin: 0 auto;
    text-align:center;
}
#Resume{
    display:inline-block;
}
.projects {
    text-align: center;
    border: 5px solid black;
    border-radius: 50px;
    background-color:white;
}
#Contact {
    display: inline-block;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    color: lightgray;
    
}
#wrapper2 {
    display:none;
    margin-left: auto;
    margin-right: auto;
    color: lightgray;
    background-color: rgba(0,0,50,.5);
    
}
#signature{
    display:inline;
    left: 0%;
    color:white;
    font-family:'Times New Roman';
}
#Aboutme {
    font-size: 18px;
    width:600px;
margin: 0 auto;
border: 10px outset;
border-radius: 50px;
background-color: rgba(0,0,0,.9); 
	padding-left: 5px;
}
#wrapper3 {
    margin-left: auto;
    margin-right: auto;
display:none;


}
.projectbackground {
background-color: rgba(0,0,0,.5);
border: 10px outset;
border-radius: 50px;
}







    
